.root {
    -fx-background-color: #1C2130;
}
.label {
    -fx-text-fill: black;
}
.text-field, .password-field, .combo-box, .date-picker {
    -fx-background-color: #2A3040;
    -fx-text-fill: white;
    -fx-prompt-text-fill: #8C919E;
}
.table-view {
    -fx-background-color: #2A3040;
    -fx-control-inner-background: #2A3040;
    -fx-table-cell-border-color: #3A4050;
    -fx-text-fill: white;
}
.table-view .column-header, .table-view .column-header-background {
    -fx-background-color: #1C2130;
    -fx-text-fill:white;
}
.table-row-cell {
    -fx-background-color: #2A3040;
    -fx-text-fill: white;
}